body {
  color:#333;
  background:#fff;
  font-family:"Source Serif Pro",sans-serif;
  font-style:normal;
  font-weight:400;
  font-size:17px;
  line-height:1.6;
  -webkit-font-smoothing: antialiased;
}

ul, li {
  list-style: none;
  padding:0;
  margin:0;
}

strong {
  font-weight:700;
}

a {
  text-decoration: none;
  color:#ff9d1c;
}

.for-mobile {
  display:none;
}

.full-block {
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.self-portrait {
  position:fixed;
  left:0;
  background:#fff url(../imgs/self-portrait-2.jpg) 30% 0 no-repeat;
  background-size:1600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:65%;
}

.bio {
  right:0;
  width:35%;
  padding:70px;
}

.vert-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right:70px;
}


.name-title h1 {
  font-weight:700;
  font-size:40px;
  line-height: 40px;
  margin-top:0;
}

.name-title p {
  margin-top:-27px;
  font-weight:700;
}

.being-social {
  padding-top:10px;
}

.being-social li {
  display:inline-block;
  width:36px;
  height:36px;
  text-indent:-9999px;
  margin-right:5px;
}

.being-social li:last-child {
  margin-right:0;
}

.being-social a {
  display:block;
  height:100%;
  width: 100%;
}

  .being-social .twitter {
    margin-right:0;
  }

  .being-social .twitter a {
    background:url(../imgs/twitter.svg) 0 0 no-repeat;
    background-size:32px;
  }

  .being-social .linkedin {
    width:48px;
  }

  .being-social .linkedin a {
    background:url(../imgs/linkedin.svg) 0 -8px no-repeat;
    background-size: 49px;
  }

  .being-social .dribbble a {
    background: url(../imgs/dribbble.svg) 0 6px no-repeat;
    background-size: 23px;
  }

  .being-social .instagram a {
    background: url(../imgs/instagram.svg) 0 4px no-repeat;
    background-size: 26px;
  }

  .being-social .flickr a {
    background: url(../imgs/flickr.svg) 0 5px no-repeat;
    background-size: 25px;
  }

  .being-social .fivehundredpx a {
    background:url(../imgs/fivehundredpx.svg) 0 4px no-repeat;
    background-size:25px;
  }




/* Media queries */

@media (max-width:1200px) {
  .self-portrait {
    width:55%;
    background:#fff url(../imgs/self-portrait-2.jpg) 50% 0 no-repeat;
    background-size:1600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bio {
    width:45%;
  }
}

@media (max-width:900px) {
  .self-portrait, .bio {
    width:50%;
  }
}

@media (max-width:816px) {
  .full-block, .vert-center {
    position: static;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .vert-center {
    transform: translateY(0);
    padding-right:0;
  }

  .self-portrait {
    height:400px;
  }

  .bio {
    padding:60px;
  }
}

@media (max-width:480px) {

  .self-portrait {
    position:relative;
  }

  .name-title {
    display:none;
  }

  .for-mobile {
    display:block;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    color:#fff;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(2,1,1,0.60) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(2,1,1,0.60) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(2,1,1,0.60) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#6e020101',GradientType=0 );
  }

  .for-mobile h1 {
    font-size:40px;
    text-shadow: 1px 1px 1px #333;
  }

  .for-mobile p {
    margin-top: -33px;
    padding-bottom: 12px;
    text-shadow: 1px 1px 1px #333;
  }

  .bio {
    padding:10px 30px 30px;
  }
}
