<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>

<link rel="stylesheet" href="{{ '/css/main.css' | url }}">

</head>
<body>
<header>
    {# <a href="/">Ivan Frantar</a> #}
    {# <nav>
        <ul>
            <li>Notes</li>
        </ul>
    </nav> #}
</header>

{{ content | safe }}

{# <footer>
<div class="container">
<p>{{ helpers.currentYear() }}</p>
</div>
</footer> #}
</body>
</html>