<article class="case-studies my-5">

  <div class="container-lg">

    <div class="case-studies__card mb-4" style="background-color:#E5F9FE">
      <div class="case-studies__card--header">
        <p class="lead">Case Study</p>
        <h2 class="display-5 fw-bold">Aerlytix Analytics Suite</h2>
        <a href="/case-studies/aerlytix-analytics-suite" class="case-studies__card--link">
          <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1.99999 0.5H22.5V21H19.5V5.62132L3.06065 22.0607L0.939331 19.9393L17.3787 3.5H1.99999V0.5Z"
              fill="black" />
          </svg>
        </a>
      </div>
      <div class="mx-auto" style="">
        <img class="rounded-6" style="max-width:1100px; margin:0 auto -40px"
          src="/images/case-studies/aerlytix/aerlytix-suite-screen.png" alt="Aerlytix Analytics Suite Image">
      </div>
    </div> <!-- end of card -->

    <div class="case-studies__card mb-4" style="background-color:#E5EEFF">
      <div class="case-studies__card--header">
        <p class="lead">Case Study</p>
        <h2 class="display-5 fw-bold">Aerlytix Reporting System</h2>
        <a href="/case-studies/aerlytix-reporting" class="case-studies__card--link">
          <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1.99999 0.5H22.5V21H19.5V5.62132L3.06065 22.0607L0.939331 19.9393L17.3787 3.5H1.99999V0.5Z"
              fill="black" />
          </svg>
        </a>
      </div>
      <div class="mx-auto" style="">
        <img class="rounded-6" style="max-width:1100px; margin:0 auto -40px"
          src="/images/case-studies/aerlytix-reporting/aerlytix-reporting.png" alt="Aerlytix Analytics Suite Image">
      </div>
    </div> <!-- end of card -->

  </div>
</article>