<article class="case-studies my-5">

  <div class="container-lg">

    <div class="case-studies__card mb-4" style="background:#d7edff">
      <div class="case-studies__card--header mb-4">
        <p class="lead">Case Study</p>
        <h2 class="display-5 fw-bold">Aerlytix Analytics Suite</h2>
        <a href="/case-studies/aerlytix-analytics-suite" class="case-studies__card--link">
          <svg width="30" height="30" viewBox="0 0 23 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1.99999 0.5H22.5V21H19.5V5.62132L3.06065 22.0607L0.939331 19.9393L17.3787 3.5H1.99999V0.5Z"
              fill="black" />
          </svg>
        </a>
      </div>
      <div class="case-studies__card--image-container">
        <img class="rounded-6 case-studies__card--image" src="/images/case-studies/aerlytix/aerlytix-suite-screen.png"
          alt="Aerlytix Analytics Suite Image">
      </div>
    </div> <!-- end of card -->

    <div class="case-studies__card mb-4" style="background:#e1fffa">
      <div class="case-studies__card--header mb-4">
        <p class="lead">Case Study</p>
        <h2 class="display-5 fw-bold">Aerlytix Reporting System</h2>
        <a href="/case-studies/aerlytix-reporting" class="case-studies__card--link">
          <svg width="30" height="30" viewBox="0 0 23 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1.99999 0.5H22.5V21H19.5V5.62132L3.06065 22.0607L0.939331 19.9393L17.3787 3.5H1.99999V0.5Z"
              fill="black" />
          </svg>
        </a>
      </div>
      <div class="case-studies__card--image-container">
        <img class="rounded-6 case-studies__card--image"
          src="/images/case-studies/aerlytix-reporting/aerlytix-reporting.png" alt="Aerlytix Analytics Suite Image">
      </div>
    </div> <!-- end of card -->

    <div class="case-studies__card mb-4" style="background:#ddf5fd">
      <div class="case-studies__card--header mb-4">
        <p class="lead">Case Study</p>
        <h2 class="display-5 fw-bold">CurrencyFair Mobile App</h2>
        <a href="/case-studies/currencyfair-mobile-app" class="case-studies__card--link">
          <svg width="30" height="30" viewBox="0 0 23 23" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1.99999 0.5H22.5V21H19.5V5.62132L3.06065 22.0607L0.939331 19.9393L17.3787 3.5H1.99999V0.5Z"
              fill="black" />
          </svg>
        </a>
      </div>
      <div class="case-studies__card--image-container">
        <img class="rounded-6 case-studies__card--image"
          src="/images/case-studies/currencyfair-mobile/currencyfair-app-cs-cover.png"
          alt="Aerlytix Analytics Suite Image">
      </div>
    </div>

  </div>
</article>