header, footer, nav, article, section {
	display:block;
}

* {
	margin:0;
	padding:0;
}

html {
	background:#ebebeb;
	text-align:center;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color:#666;
	padding:20px;
	max-width:1200px;
	min-width:320px;
	margin:0  auto;
    -webkit-font-smoothing:antialiased;
}

a {
	color:#3061d2;
	text-decoration:none;
}

a:hover {
	text-shadow:0 0 10px #3061d2;
}

img {
	border:0;
}


h1 {
	font-weight:100;
	line-height:1.2em;
	font-size:4.5em;
	padding-bottom:.3em;
}

h2 {
	font-weight:100;
	font-size:2.5em;
	line-height:2em;
	padding-bottom:20px;
}

hr {
	height:1px;
	border:0;
	background:#ccc;
	box-shadow:0 1px 1px #fff;
	margin:40px 0
}

li {
	list-style:none;
}

article {
	overflow:hidden;
	position:relative;
	width:100%;
}

.contact-info li {
	display:inline-block;
	margin:0 20px;
}

.contact-info li a {
	color:#666;
}

.image-portfolio {
	display:block;
	border:10px solid #ccc;
	border-width:0 0 10px;
}

.files {
	
	margin-left:20%;
	
}

	.files li {
		
		margin-right:5px;
		width:100%;
	}

.intro {
	font-weight:400;
	font-size:1em;
	padding-bottom:.5em;
}	
	
.content img {
	width:100%;
}

.scrazzl .links {
	padding-bottom:40px;
} 


/* test */
table {
	width:100%;
	margin-bottom:40px;
	margin-top:20px;
}

td {
	border-collapse:collapse;
	text-align:left;
	width:33%;
	vertical-align:top;
	padding:0 40px 0;
}


td strong {
	display:block;
}