:root {
    --main-background: #ffffff;
    --primary-color: #653bdb;
    --primary-type-color: #000000;
    --social-icons: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-background: #202124;
        --primary-type-color: #ffffff;
        --social-icons: #ffffff;
	}
}